<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated crudrest -->
      <package
            uri="http://crudrest.msde.ui.ac.ir"
            class="crudrest.crudrestPackage"
            genModel="model/crudrest.genmodel"/>
   </extension>

</plugin>
